.header__top-nav {
    display: none;
}
.rwd-bs {
    margin-top: -36px;
}
.header__nav {
    display: none;
}
.header__account__user {
    display: none;
}
.header__burger {
    display: none;
}
.footer {
    display: none;
}